# Task 5: 

Analyze the differences between the sexes by age in Ireland.
Include: 
- Weighted mean age (by sex) 
- Difference between the sexes by age

Author: Irene Celebrin

In [59]:
# import libraries 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [90]:
# get the data from https://data.cso.ie/ API 
# See: https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html
df = pd.read_csv('https://ws.cso.ie/public/api.restful/PxStat.Data.Cube_API.ReadDataset/FY006A/CSV/1.0/en')

# show first 5 rows
df.head(5)

,STATISTIC,Statistic Label,TLIST(A1),CensusYear,C02199V02655,Sex,C02076V03371,Single Year of Age,C03789V04537,Administrative Counties,UNIT,VALUE
0,FY006AC01,Population,2022,2022,-,Both sexes,-,All ages,IE0,Ireland,Number,5149139
1,FY006AC01,Population,2022,2022,-,Both sexes,-,All ages,2ae19629-1492-13a3-e055-000000000001,Carlow County Council,Number,61968
2,FY006AC01,Population,2022,2022,-,Both sexes,-,All ages,2ae19629-1433-13a3-e055-000000000001,Dublin City Council,Number,592713
3,FY006AC01,Population,2022,2022,-,Both sexes,-,All ages,2ae19629-149f-13a3-e055-000000000001,Dún Laoghaire Rathdown County Council,Number,233860
4,FY006AC01,Population,2022,2022,-,Both sexes,-,All ages,2ae19629-14a0-13a3-e055-000000000001,Fingal County Council,Number,330506

In [91]:
# get a list of the columns to identify unneeded columns: 
headers = list(df)
headers

['STATISTIC',
 'Statistic Label',
 'TLIST(A1)',
 'CensusYear',
 'C02199V02655',
 'Sex',
 'C02076V03371',
 'Single Year of Age',
 'C03789V04537',
 'Administrative Counties',
 'UNIT',
 'VALUE']

In [92]:
# remove unneeded columns. See: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop.html 
col_to_drop = ['STATISTIC', 'Statistic Label','TLIST(A1)','CensusYear','C02199V02655','Sex','C02076V03371','C03789V04537','UNIT']
df = df.drop(columns=col_to_drop)

df.head(5)

  Single Year of Age                Administrative Counties    VALUE
0           All ages                                Ireland  5149139
1           All ages                  Carlow County Council    61968
2           All ages                    Dublin City Council   592713
3           All ages  Dún Laoghaire Rathdown County Council   233860
4           All ages                  Fingal County Council   330506

In [93]:
# remove unneeded rows
# remove rows where 'Single Year of Age' is 'All ages'
df = df[df['Single Year of Age'] != 'All ages']



df

      Single Year of Age                Administrative Counties  VALUE
32          Under 1 year                                Ireland  57796
33          Under 1 year                  Carlow County Council    699
34          Under 1 year                    Dublin City Council   6213
35          Under 1 year  Dún Laoghaire Rathdown County Council   2457
36          Under 1 year                  Fingal County Council   4009
...                  ...                                    ...    ...
9787  100 years and over               Roscommon County Council      7
9788  100 years and over                   Sligo County Council      9
9789  100 years and over                   Cavan County Council     12
9790  100 years and over                 Donegal County Council     31
9791  100 years and over                Monaghan County Council      7

[9696 rows x 3 columns]

In [95]:
# re-format. year value for "Under 1 year" to 0  
df['Single Year of Age'] = df['Single Year of Age'].replace('Under 1 year', 0)

df.tail(10)

      Single Year of Age          Administrative Counties  VALUE
9782  100 years and over  Waterford City & County Council     15
9783  100 years and over              Galway City Council      5
9784  100 years and over            Galway County Council     26
9785  100 years and over           Leitrim County Council      4
9786  100 years and over             Mayo  County Council     25
9787  100 years and over         Roscommon County Council      7
9788  100 years and over             Sligo County Council      9
9789  100 years and over             Cavan County Council     12
9790  100 years and over           Donegal County Council     31
9791  100 years and over          Monaghan County Council      7